body {
	font-family: 'Open Sans',Arial,sans-serif;
    margin-left: 1em;
    background-color:honeydew;
}

.logo {
    height: 12px;
    width: 12%;
    padding: 0px;
    margin-top: 10px;
}

.cabecalhoPrincipal-nav {
    background-color: darkorange;
    margin-top: -18px;
}

.container {
    display: inline;
}

.cabecalhoPrincipal-nav {
    height: auto;
}

.cabecalhoPrincipal-nav ul li {
    height: auto;
	display: inline-block;
}

.cabecalhoPrincipal-nav ul li a {
    text-align: center;
	font-size: 15px;
	line-height: 20px;
	padding: 0 10px;
}

nav a {
    display: inline-block;
    font-size: 12px;
    color: black;
    font-size: bold;
    margin-right: 0.1px;
    text-decoration: none;
    margin-left: 45px;
      
}

#paragrafo {
    font-size: 10px;

}
nav a:hover {
    color: black;
	text-decoration: underline;
    
}

.principal {
    margin-top: 20px;
    font-size: 15px;

}

h1 {
    height: 25%;
    width: 10%;
}   


.rodape {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 2em;
    
}

.rodapePrincipal {
    text-align: center;

}

.rodapePrincipal-contatoForm {
    display: flex;
    text-align: left;
    margin-left: 550px;
    margin-bottom: -25px;
    
}

.rodapePrincipal-contatoForm-emailInput {
    width: 150px;

}

@media(max-width: 768px) {
    
    .logo {
        height: 35px;
        width: 75%;
        margin-top: 10px;
    }

    
    .cabecalhoPrincipal-nav {
        margin-top: -40px;
    }
           
      
    .principal {
        width: 100%;
        margin-top: 20px;
        font-size: 14px;
    
    }

    .rodapePrincipal {
        width: -15%;
        display:inline-flex;
        flex-direction: column;
        flex-wrap: wrap;

    }

    .rodapePrincipal-contatoForm {
        margin-left: -5em;
    }
         
}





